<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Auto Store</a>
    <ul class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Main</a></li>
      {{else}}
      <li><a href="/">Main</a></li>
      {{/if}}

      {{#if isBrand}}
      <li class="active"><a href="/brand">Brand</a></li>
      {{else}}
      <li><a href="/brand">Brand</a></li>
      {{/if}}

      {{#if isAdd}}
      <li class="active"><a href="/brand/add">add</a></li>
      {{else}}
      <li><a href="/brand/add">add</a></li>
      {{/if}}
      
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>